<html>
<head>
    <title>O3 Capital Project</title>
</head>
<body>
<div>
    <h2> Welcome <%= fullName %> to 03 Capital Contact App</h2>
    <p>Your verification Link is <a href="<%= verificationLink %>">Click</a> to verify your account<p>
    <p>Thanks</p>
</div>
</body>
</html>